<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="insights-tab-iconi icon">tips_and_updates</mat-icon>
            Insights
        </ng-template>
        <app-insights-tab></app-insights-tab>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="reports-tab-icon icon">bar_chart</mat-icon>
            Reports
        </ng-template>
        Content 2
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="settings-tab-icon icon">settings_suggest</mat-icon>
            Settings
        </ng-template>

        Content 3
    </mat-tab>
</mat-tab-group>